<% content_for :title do %>
  About
<% end %>

<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">About OpenVox Workshop</h2>
  </div>
</div>
<div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
  <p class="py-1">
    OpenVox Workshop is a self-hosted module repository that provides a platform for managing and distributing Puppet modules. It aims to offer an open-source alternative to Puppet Forge with full API compatibility.
  </p>
  <p class="py-1">
    You can find the source code for this project on <%= link_to "GitHub", "https://github.com/zaben903/OpenVox-Workshop", class: "font-semibold text-indigo-600 hover:text-indigo-500", target: "_blank" %>.
  </p>
</div>
<br>
<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Licence</h2>
  </div>
</div>
<div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
  <p class="py-1">
    Copyright &copy; 2025 Zachary Bensley
  </p>
  <p class="py-1">
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
  </p>
  <p class="py-1">
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
  </p>
  <p class="py-1">
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <%= link_to "GNU Licenses", "https://www.gnu.org/licenses/agpl-3.0.html", class: "font-semibold text-indigo-600 hover:text-indigo-500", target: "_blank" %>.
  </p>
</div>
