<% content_for :title do %>
  Welcome!
<% end %>

<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Welcome to OpenVox Workshop</h2>
  </div>
</div>
<div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
  Your one-stop, community-driven hub for automating OpenVox and Puppet environments. Whether you’re just getting started or running at scale, you’ll find everything you need to simplify common tasks, accelerate deployments, and ensure consistency across your infrastructure.
</div>
<br>
<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">What You Can Do Here</h2>
  </div>
</div>
<div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
  <h3 class="text-base font-semibold text-gray-900">Discover Ready-Made Modules</h3>
  Browse modules that handle tasks like application provisioning, manage automatic backups, software upgrades, and more, so you don’t have to reinvent the wheel.
  <h3 class="text-base font-semibold text-gray-900">Download & Integrate</h3>
  Grab the module, drop it into your Puppetfile, and get up and running in minutes.
  <h3 class="text-base font-semibold text-gray-900">Contribute Your Own</h3>
  Have a nifty script or workflow you’ve perfected? Share it back with the community—submit your module, and collaborate on improvements.
  <h3 class="text-base font-semibold text-gray-900">Rate & Review</h3>
  Help the community by rating the modules you use, leaving feedback, and suggesting enhancements. Quality-driven governance means the best tools rise to the top.
</div>
