<% urls = {
  "Home" => root_path,
  "Modules" => "#",
  "About" => about_path,
}.freeze %>

<div class="flex items-center">
  <div class="shrink-0">
    <img src="/icon.svg" alt="OpenVox Workshop" class="size-8" />
  </div>
  <div class="hidden md:block">
    <div class="ml-10 flex items-baseline space-x-4">
      <% urls.each do |name, url| %>
        <% if current_page?(url) %>
          <%= link_to name, url, class: "rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white", aria: {current: "page"} %>
        <% else %>
          <%= link_to name, url, class: "rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
